#header {
  background-image: radial-gradient(
    circle at 50% -20.71%,
    #ffffa1 0,
    #f5ffa0 6.25%,
    #e4ffa0 12.5%,
    #d2ffa1 18.75%,
    #bdffa3 25%,
    #a7fda6 31.25%,
    #8cfaaa 37.5%,
    #6cf7af 43.75%,
    #3cf2b5 50%,
    #00edbc 56.25%,
    #00e8c6 62.5%,
    #00e4d0 68.75%,
    #00dfdc 75%,
    #00dbe9 81.25%,
    #00d7f5 87.5%,
    #00d3ff 93.75%,
    #00d0ff 100%
  );
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 10vh;
    max-width: 90%;
    margin: auto;

    img {
      width: 50px;
      margin-left: 20px;
      padding: 15px 0;
    }
    .menu-section {
      display: flex;
      align-items: center;

      nav {
        ul {
          display: flex;
          align-items: center;

          li {
            list-style: none;

            a {
              text-decoration: none;
              color: #453f3c;
              text-transform: uppercase;
              font-size: 1.4rem;
              padding: 24px;
              transition: all 250ms linear 0s;
            }
            &:hover {
              background: rgba(255, 255, 255, 0.15);
            }
          }
        }
      }
      img {
        width: 3.5rem;
        border-radius: 50%;
      }
    }
  }
}
